
<template>
  <div>
    <h2 class="text-2xl font-bold">주문</h2>
    <hr class="my-2 border dark:border-gray-700"/>
    <div class="flex gap-4 items-center">
      <!--검색창-->
      <el-input
        v-model="input1"
        style="width: 1500px"
        size="large"
        placeholder="Please Input"
        :prefix-icon="Search"
      />
    </div>
    <!--탭-->
    <div>
      <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
        <el-tab-pane label="진행" name="first">

          <div class="table-temp">
            <TwDatatableClient
              class="!dark:text-gray-200"
              v-model:search="data.search"
              v-model:limit="data.limit"
              v-model:selected="data.selected"
              v-model:sort-by="data.sortBy"
              v-model:sort-type="data.sortType"
              :column="data.column"
              :data="data.data"
              :setting="data.setting"
              @datatable:column-hook="datatableHook"
            >
              <template #row="{ column, data }">
                <template v-if="column.field === 'timeAsk'">
                  {{ data.timeAsk }}
                </template>
                <template v-if="column.field === 'addressClientDo'">
                  {{ data.addressClientDo }}
                </template>
                <template v-if="column.field === 'isPay'">
                  {{ data.isPay }}
                </template>
                <template v-if="column.field === 'stateAsk'">

                  <div class="flex gap-2 justify-center">
                    <button class="skyblue_btn" @click="changeText">{{ buttonText }}</button>
                  </div>
                </template>
              </template>
            </TwDatatableClient>
          </div>
          <hr class="my-2 dark:border-gray-700"/>
          <!--    <div>-->
          <!--      <div class="flex gap-2">-->
          <!--        <div class="w-32">Selected Data</div>-->
          <!--        <div>: {{ data.selected }}</div>-->
          <!--      </div>-->
          <!--      <div class="flex gap-2">-->
          <!--        <div class="w-32">Order By</div>-->
          <!--        <div>: {{ data.sortBy }}</div>-->
          <!--      </div>-->
          <!--      <div class="flex gap-2">-->
          <!--        <div class="w-32">Order Type</div>-->
          <!--        <div>: {{ data.sortType }}</div>-->
          <!--      </div>-->
          <!--      <div class="flex gap-2">-->
          <!--        <div class="w-32">Search</div>-->
          <!--        <div>: {{ data.search }}</div>-->
          <!--      </div>-->
          <!--    </div>-->
        </el-tab-pane>
        <el-tab-pane label="완료" name="second">
          <div class="table-temp">
            <TwDatatableClient
              class="!dark:text-gray-200"
              v-model:search="data.search"
              v-model:limit="data.limit"
              v-model:selected="data.selected"
              v-model:sort-by="data.sortBy"
              v-model:sort-type="data.sortType"
              :column="data.column"
              :data="data.data"
              :setting="data.setting"
              @datatable:column-hook="datatableHook"
            >
              <template #row="{ column, data }">
                <template v-if="column.field === 'timeAsk'">
                  {{ data.timeAsk }}
                </template>
                <template v-if="column.field === 'addressClientDo'">
                  {{ data.addressClientDo }}
                </template>
                <template v-if="column.field === 'isPay'">
                  {{ data.isPay }}
                </template>
                <template v-if="column.field === 'stateAsk'">
                  <div class="flex gap-2 justify-center">
                    <TwButton variant="primary" class="border border-gray-900">
                      Edit
                    </TwButton>
                    <TwButton variant="danger"> Delete</TwButton>
                  </div>
                </template>
              </template>
            </TwDatatableClient>
          </div>
          <hr class="my-2 dark:border-gray-700"/>
          <!--    <div>-->
          <!--      <div class="flex gap-2">-->
          <!--        <div class="w-32">Selected Data</div>-->
          <!--        <div>: {{ data.selected }}</div>-->
          <!--      </div>-->
          <!--      <div class="flex gap-2">-->
          <!--        <div class="w-32">Order By</div>-->
          <!--        <div>: {{ data.sortBy }}</div>-->
          <!--      </div>-->
          <!--      <div class="flex gap-2">-->
          <!--        <div class="w-32">Order Type</div>-->
          <!--        <div>: {{ data.sortType }}</div>-->
          <!--      </div>-->
          <!--      <div class="flex gap-2">-->
          <!--        <div class="w-32">Search</div>-->
          <!--        <div>: {{ data.search }}</div>-->
          <!--      </div>-->
          <!--    </div>-->
        </el-tab-pane>
<!--        <el-tab-pane label="Role" name="third">Role</el-tab-pane>-->
<!--        <el-tab-pane label="Task" name="fourth">Task</el-tab-pane>-->
      </el-tabs>
    </div>

  </div>

</template>

<script setup lang="ts">
import {TwDatatableClient, TwButton} from "vue3-tailwind";
import {onMounted, ref} from "vue";

//검색창
import { Search } from '@element-plus/icons-vue'
const input1 = ref('')

//탭
import type { TabsPaneContext } from 'element-plus'

import { defineComponent } from 'vue';

export default defineComponent({
  data() {
    return {
      buttonText: '조리시작'
    };
  },
  methods: {
    changeText(this: { buttonText: string }) {
      if (this.buttonText === '조리준비') {
        this.buttonText = '조리시작';
      } else {
        this.buttonText = '조리준비';
      }
    }
  }
});


const activeName = ref('first')

const handleClick = (tab: TabsPaneContext, event: Event) => {
  console.log(tab, event)
}

const data = ref({
  column: [
    {
      label: "주문일시",
      field: "timeAsk",
      width: "400px",
      sortable: true,
    },
    {
      label: "도착주소",
      field: "addressClientDo",
      width: "400px",
      sortable: true,
    },
    {
      label: "선결제여부",
      field: "isPay",
      width: "400px",
      sortable: true,
    },
    {
      label: "요청상태",
      field: "stateAsk",
      width: "400px",
      sortable: false,
    },
  ],
  data: [],
  limit: 5,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});

const datatableHook = (arg: any) => {
  arg();
};

onMounted(() => {
  fetch("https://dummyjson.com/products")
    .then((res) => res.json())
    .then((json) => {
      data.value.data = json.products;
    });
});

</script>

<style scoped>
.skyblue_btn {
  background-color: skyblue;
  /* 다른 스타일링 속성들을 필요에 따라 추가할 수 있습니다. */
}
</style>

